version: 2
updates:
  - package-ecosystem: pip
    directory: '/'
    schedule:
      interval: monthly
    allow:
      - dependency-type: all
    groups:
      python:
        patterns: ['*']
    cooldown:
      default-days: 7

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
    groups:
      github-actions:
        patterns: ['*']
    cooldown:
      default-days: 7
