name: Check Markdown

on:
  push:
  pull_request:
  schedule:
    - cron: '15 0,12 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  markdown-link-check:
    name: Check links
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Check Markdown links
        uses: tcort/github-action-markdown-link-check@e7c7a18363c842693fadde5d41a3bd3573a7a225 # v1.1.2

  markdownlint-cli2:
    name: Lint Markdown
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
        with:
          globs: '**/*.md'
