name: Tox

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  tox:
    strategy:
      matrix:
        os:
          - ubuntu-22.04  # For Python 3.7 only (unavailable on >= 24.04).
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-15-intel  # These images are x86-64 (amd64).
          - macos-15  # These images are Apple Silicon (aarch64, arm64).
          - windows-latest
          - windows-11-arm

        python-version:
          # CPython
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          # TODO: Currently, installing `poetry` on CPython 3.13t (nogil) fails
          # on all platforms when building native code for the `msgpack`
          # dependency, and similarly on some platforms for other dependencies.
          # Once that is resolved or can be avoided, then add 3.13t and 3.14t.
          # - '3.13t'
          - '3.14'
          # - '3.14t'

          # PyPy
          - 'pypy-3.7'
          - 'pypy-3.8'
          - 'pypy-3.9'
          - 'pypy-3.10'
          - 'pypy-3.11'

        exclude:
          # Use Ubuntu 22.04 only to test CPython 3.7, and no other Pythons.
          - os: ubuntu-22.04
            python-version: '3.8'
          - os: ubuntu-22.04
            python-version: '3.9'
          - os: ubuntu-22.04
            python-version: '3.10'
          - os: ubuntu-22.04
            python-version: '3.11'
          - os: ubuntu-22.04
            python-version: '3.12'
          - os: ubuntu-22.04
            python-version: '3.13'
          - os: ubuntu-22.04
            python-version: '3.14'
          - os: ubuntu-22.04
            python-version: 'pypy-3.7'
          - os: ubuntu-22.04
            python-version: 'pypy-3.8'

          # CPython 3.7 is not available on Ubuntu 24.04 and higher.
          - os: ubuntu-latest
            python-version: '3.7'

          # Installing `poetry` fails in PyPy 3.7 and PyPy 3.8 on Ubuntu
          # x86-64, with an error building its `cryptography` dependency.
          - os: ubuntu-latest
            python-version: 'pypy-3.7'
          - os: ubuntu-latest
            python-version: 'pypy-3.8'

          # CPython 3.7 are not available on Ubuntu 24.04 and higher for arm64.
          - os: ubuntu-24.04-arm
            python-version: '3.7'

          # As on amd64, installing `poetry` fails in PyPy 3.7 and PyPy 3.8 on
          # Ubuntu arm64, with an error building its `cryptography` dependency.
          - os: ubuntu-24.04-arm
            python-version: 'pypy-3.7'
          - os: ubuntu-24.04-arm
            python-version: 'pypy-3.8'

          # CPython 3.7 and PyPy 3.7 are not available on macOS 15 arm64.
          - os: macos-15
            python-version: '3.7'
          - os: macos-15
            python-version: 'pypy-3.7'

          # Installing `poetry` fails in PyPy 3.9 on Windows x86-64, with an
          # error building its `zstandard` dependency. Curiously, this only
          # happens in PyPy 3.9, and not in earlier or later versions. Probably
          # an earlier version of `poetry` or one of its dependencies could be
          # specified in order to avoid this, but for now I just skip PyPy 3.9
          # on Windows.
          - os: windows-latest
            python-version: 'pypy-3.9'

          # Only CPython 3.11 and higher are available on Windows 11 arm64.
          - os: windows-11-arm
            python-version: '3.7'
          - os: windows-11-arm
            python-version: '3.8'
          - os: windows-11-arm
            python-version: '3.9'
          - os: windows-11-arm
            python-version: '3.10'

          # No version of PyPy is available on Windows 11 arm64.
          - os: windows-11-arm
            python-version: 'pypy-3.7'
          - os: windows-11-arm
            python-version: 'pypy-3.8'
          - os: windows-11-arm
            python-version: 'pypy-3.9'
          - os: windows-11-arm
            python-version: 'pypy-3.10'
          - os: windows-11-arm
            python-version: 'pypy-3.11'

        include:
          - experimental: false

      fail-fast: true

    continue-on-error: ${{ matrix.experimental }}

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: ${{ matrix.experimental }}

      - name: Upgrade PyPA packages
        run: python -m pip install -U pip 'setuptools; python_version <"3.12"' wheel

      - name: Install poetry, and poetry-plugin-export if needed
        run: python -m pip install -U poetry 'poetry-plugin-export; python_version >="3.9"'

      - name: Install tox and tox-gh-actions
        run: python -m pip install -U 'tox ==4.*' 'tox-gh-actions ==3.*'

      - name: Check with tox
        run: tox

  all-pass:
    name: All tox checks pass

    needs:
      - tox

    # Don't skip `all-pass` on cancellation, since a skipped required check won't block auto-merge.
    if: always()

    runs-on: ubuntu-latest

    steps:
      - name: Some failed
        if: contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'failure')
        run: |
          false

      - name: All passed
        run: |
          true
